<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.police1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_exam"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle">
        <activity
            android:name=".MainActivity"
            android:label="The Police"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubjectActivity" />
        <activity android:name=".SubjectActivity2017" />
        <activity android:name=".QuizActivity2018_1" />
        <activity android:name=".Result2018_1" />
        <activity android:name=".QuizActivity2018_2" />
        <activity android:name=".QuizActivity2018_3" />
        <activity android:name=".QuizActivity2018_4" />
        <activity android:name=".QuizActivity2018_5" />
        <activity android:name=".QuizActivity2017_1" />
        <activity android:name=".QuizActivity2017_2" />
        <activity android:name=".FinalActivity" />

    </application>

</manifest>